.main {
  padding: 2rem;
  min-height: 100vh;
}

.banner {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  h1 {
    margin: 20px 0;
  }

  p {
    margin-bottom: 20px;
  }
}

.bannerText {
  flex: 1;
  margin: 20px;
}

.bannerImage {
  flex: 1;
  position: relative;
  margin: 20px;
}

.image {
  position: static !important;
  min-width: 200px;
}
