@import '../../app/variables.module.scss';

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoContainer h2 {
    color: $primary-color;
    font-size: 20px;
    margin-left: 8px;
}

.actionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action {
    font-weight: normal;
    color: $secondary-color;
    font-size: 16px;
    margin: 4px 16px;
}

.cta {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cta h3 {
    font-size: 16px;
    font-weight: 500;
    color: $accent-color;
    margin: 0 15px;
}

.cta span {
    border: 1px solid $accent-color;
    border-radius: 50px;
    padding: 13px 20px;
}